RedirectMatch 302 ^/Games$ /apps/
RedirectMatch 302 ^/Games/.*$ /apps/
RedirectMatch 302 ^/BINGO$ /apps/
RedirectMatch 302 ^/BINGO/.*$ /apps/
RedirectMatch 302 ^/Cherokee-Language-Numbers-Ordinals$ /apps/
RedirectMatch 302 ^/Cherokee-Language-Numbers-Ordinals/.*$ /apps/
RedirectMatch 302 ^/phpBB3/viewforum.*$ /lessons/
RedirectMatch 302 ^/phpBB3/viewtopic.*$ /lessons/
RedirectMatch 302 ^/phpBB3/feed.*$ /lessons/
RedirectMatch 302 ^/phpBB3/faq.*$ /lessons/
RedirectMatch 302 ^/Cherokee-Language-Lessons-Introductory-Edition.*$ /lessons/Cherokee-Language-Lessons-Volume-1/
RedirectMatch 302 ^/Super-Cherokee-Syllabary-Dictation-Practice.*$ /lessons/Syllabary-Dictation/
RedirectMatch 302 ^/Previews.*$ /lessons/Cherokee-Language-Lessons-Volume-1/
RedirectMatch 302 ^(.*)https?:&$ /
RedirectMatch 302 ^/LanguagePreservationClassroomProject.*$ /
RedirectMatch 302 ^/about.*$ /
RedirectMatch 302 ^/comments.*$ /
RedirectMatch 302 ^/phpBB3.*$ /
RedirectMatch 302 ^/Links.* /links/
RedirectMatch 302 ^/pdfs/(.*)$ /pdf-downloads/$1