RedirectMatch 301 ^/Games$ /apps/
RedirectMatch 301 ^/Games/.*$ /apps/
RedirectMatch 301 ^/BINGO$ /apps/
RedirectMatch 301 ^/BINGO/.*$ /apps/
RedirectMatch 301 ^/Cherokee-Language-Numbers-Ordinals$ /apps/
RedirectMatch 301 ^/Cherokee-Language-Numbers-Ordinals/.*$ /apps/
RedirectMatch 301 ^/phpBB3/viewforum.*$ /lessons/
RedirectMatch 301 ^/phpBB3/viewtopic.*$ /lessons/
RedirectMatch 301 ^/Cherokee-Language-Lessons-Introductory-Edition.*$ /lessons/Cherokee-Language-Lessons-Volume-1/
RedirectMatch 301 ^/Super-Cherokee-Syllabary-Dictation-Practice.*$ /lessons/Syllabary-Dictation/
RedirectMatch 301 ^/Previews.*$ /lessons/Cherokee-Language-Lessons-Volume-1/
